<div id=title>
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
      La informática, también llamada computación,1​ es una ciencia que administra métodos,
    técnicas y procesos con el fin de almacenar, procesar y transmitir información y datos
    en formato digital.No existe una definición consensuada sobre el término, lo cual puede
    comprenderse a través de las Discusiones que acompañan esta página. Sin embargo, la 
    Asociación de Docentes de Informática y Computación de la República Argentina han tomado
    una posición, definiéndola de la siguiente manera: "La Informática es la disciplina o campo
    de estudio que abarca el conjunto de conocimientos, métodos y técnicas referentes al tratamiento
    automático de la información, junto con sus teorías y aplicaciones prácticas, con el fin de 
    almacenar, procesar y transmitir datos e información en formato digital utilizando sistemas 
    computacionales. Los datos son la materia prima para que, mediante su proceso, se obtenga como
    resultado información.  Para ello, la informática crea y/o emplea sistemas de procesamiento de 
    datos, que incluyen medios físicos (hardware) en interacción con medios lógicos (software) y las 
    personas que los programan y/o los usan (humanware).2​"
  </p>
</article>